@page
@model SkiveCollegeMotion.Pages.Brugere.IndexModel

@{
    ViewData["Title"] = "Brugere";
}

<h2>Brugere</h2>

<p>
    <a asp-page="Opret">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].Fornavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].Efternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brugere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="Rediger" asp-route-id="@item.UserName">Rediger</a> |
                <a asp-page="Slet" asp-route-id="@item.UserName">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
