@page
@model SkiveCollegeMotion.Pages.Brugere.SletModel

@{
    ViewData["Title"] = "Slet";
}

<h2>Slet</h2>

<h3>Er du sikker på at du vil slette denne bruger?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bruger.Fornavn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bruger.Fornavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bruger.Efternavn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bruger.Efternavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bruger.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bruger.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Bruger.UserName" />
        <input type="submit" value="Slet" class="btn btn-default" /> |
        <a asp-page="Index">Tilbage til liste</a>
    </form>
</div>
