@page
@model SkiveCollegeMotion.Pages.Admin.Brugere.IndexModel

@{
    ViewData["Title"] = "Brugere";
}

<h2>Index</h2>

<p>
    <a asp-page="Opret">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brugere[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brugere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Rediger" asp-route-id="@item.UserName">Edit</a> |
                <a asp-page="./Slet" asp-route-id="@item.UserName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
