@page
@model SkiveCollegeMotion.Pages.Aktiviteter.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

    <h2>Slet aktivitet</h2>

<h3>Er du sikker på at du vil slette?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aktivitet.Navn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aktivitet.Navn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aktivitet.Sted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aktivitet.Sted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aktivitet.Antal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aktivitet.Antal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aktivitet.Ansvarlig)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aktivitet.Ansvarlig)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Aktivitet.ID" />
        <input type="submit" value="Slet" class="btn btn-default" /> |
        <a asp-page="./Index">Tilbage</a>
    </form>
</div>
