@page
@model SkiveCollegeMotion.Pages.Aktiviteter.IndexModel

@{
    ViewData["Title"] = "Aktiviteter";
}

<h2>Aktiviteter</h2>

<p>
    <a asp-page="Opret">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aktivitet[0].Navn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktivitet[0].Sted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktivitet[0].Antal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktivitet[0].Ansvarlig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aktivitet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ansvarlig)
            </td>
            <td>
                <a asp-page="Rediger" asp-route-id="@item.ID">Rediger</a> |
                <a asp-page="Detaljer" asp-route-id="@item.ID">Detaljer</a> |
                <a asp-page="Slet" asp-route-id="@item.ID">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
