@page
@model SkiveCollegeMotion.Pages.Elever.IndexModel

@{
    ViewData["Title"] = "Brugere";
}

<h2>Elever</h2>

<p>
    <a asp-page="Importer">Importer csv</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Elev[0].Fornavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elev[0].Efternavn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elev[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Elev[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Elev) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}
    </tbody>
</table>
