@page
@model SkiveCollegeMotion.Pages.Tilmeldinger.IndexModel

@{
    ViewData["Title"] = "Tilmeldinger";
}
<h2>Tilmeldinger</h2>
<div class="hidden-print">
    <button type="button" onclick="window.print()">Print</button>
    @Html.RouteLink("Sorter for aktiviteter", new { sort = "aktivitet" }) |
    @Html.RouteLink("Sorter for hold", new { sort = "hold" })
</div>
@foreach (var group in Model.Tilmeldinger)
{
    <h4>@group.Key</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Students[0].Fornavn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Students[0].Efternavn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Students[0].UserName)
                </th>
                @if (!(Model.SortOrder != "hold" && group.Key == "Ikke tilmeldt"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Activities[0].Ansvarlig)
                    </th>
                }
                @if (Model.SortOrder == "hold")
                {
                    <th>Aktivitet</th>
                }
                else
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].Hold)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var tilmelding in group)
            {
                <tr class=@("aid" + Model.Activities.First(a => a.ID == tilmelding.Aktivitet).ID)>
                    <td>
                        @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).Fornavn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).Efternavn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).UserName)
                    </td>
                    @if (!(Model.SortOrder != "hold" && group.Key == "Ikke tilmeldt"))
                    {
                        <td>
                            @Html.DisplayFor(model => model.Activities.First(a => a.ID == tilmelding.Aktivitet).Ansvarlig)
                        </td>
                    }
                    @if (Model.SortOrder == "hold")
                    {
                        <td>
                            @Html.DisplayFor(model => model.Activities.First(a => a.ID == tilmelding.Aktivitet).Navn)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).Hold)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

}
