@page
@model SkiveCollegeMotion.Pages.TilmeldingerModel

@{
    ViewData["Title"] = $"Tilmeldinger {Enum.GetName(typeof(Models.Tilmelding.Day), Model.Day)}";
}
<h2>@ViewData["Title"]</h2>
<div class="hidden-print">
    @foreach (string day in Enum.GetNames(typeof(Models.Tilmelding.Day)))
    {
        @Html.RouteLink(day, new { dag = day, sort = Model.SortOrder }, new { @class = "btn btn-default" })
    }
<a class="btn btn-default" onclick="window.print()">Print</a> <br />
    @Html.RouteLink("Sorter for aktiviteter", new { dag = Enum.GetName(typeof(Models.Tilmelding.Day), Model.Day), sort = "aktivitet" }, Model.SortOrder == "aktivitet" ? new { style = "text-decoration: underline" } : null) |
    @Html.RouteLink("Sorter for hold", new { dag = Enum.GetName(typeof(Models.Tilmelding.Day), Model.Day), sort = "hold" }, Model.SortOrder == "hold" ? new { style = "text-decoration: underline" } : null)
</div>
@foreach (var group in Model.Tilmeldinger)
{
    <h4>@group.Key</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Students[0].Fornavn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Students[0].Efternavn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Students[0].UserName)
                </th>
                @if (!(Model.SortOrder != "hold" && group.Key == "Ikke tilmeldt"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Activities[0].Ansvarlig)
                    </th>
                }
                @if (Model.SortOrder == "hold")
                {
                    <th>Aktivitet</th>
                }
                else
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Students[0].Hold)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var tilmelding in group)
            {
                <tr class=@("aid" + Model.Activities.First(a => a.ID == tilmelding.Aktivitet).ID)>
                    <td>
                        @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).Fornavn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).Efternavn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).UserName)
                    </td>
                    @if (!(Model.SortOrder != "hold" && group.Key == "Ikke tilmeldt"))
                    {
                        <td>
                            @Html.DisplayFor(model => model.Activities.First(a => a.ID == tilmelding.Aktivitet).Ansvarlig)
                        </td>
                    }
                    @if (Model.SortOrder == "hold")
                    {
                        <td>
                            @Html.DisplayFor(model => model.Activities.First(a => a.ID == tilmelding.Aktivitet).Navn)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(model => model.Students.First(s => s.UserName == tilmelding.Elev).Hold)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

}
